@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--color-primary: #a6a182;
	--color-secondary: #1f2120;
	--text-color: #aeb0b4;
	--color-light: #fff;
	--color-divider: #ffffff1a;
	--dark-color-divider: #0e110d;

	/* Fuentes */
	--default-font: 'Hanken Grotesk', serif;

	/* Breakpoints */
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--default-font);
    color: var(--text-color);
}

input, button, textarea, select {
    font-family: var(--default-font);
}

input{
    border: none;
    outline: none;
}

/* ******************************************* */
/*                UTILS                        */
/* ******************************************* */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.background-dark-1{
    background-color: var(--color-secondary);
}

.background-dark-2{
    background-color: var(--color-secondary);
}

section{
    padding: 100px 0;

    @media (max-width: 992px) {
        padding: 50px 15px;
    }

}